<div class="card mx-auto p-5 col-9 mt-4">
  <app-author-create (getAuthorsMethod)="getAuthors()"></app-author-create>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Birth date</th>
        <th scope="col">Add Book</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let author of authorList">
        <tr>
          <th>{{ author.name }}</th>
          <td>{{ author.lastName }}</td>
          <td>{{ author.birthDate }}</td>
          <td>
            <app-book-create
              (getAuthorsMethod)="getAuthors()"
              [authorId]="author.authorBookId"
            ></app-book-create>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="author.isCollapsed = !author.isCollapsed"
              [attr.aria-expanded]="!author.isCollapsed"
              aria-controls="collapseExample"
            >
              Books
            </button>
          </td>
        </tr>

        <td
          colspan="12"
          #collapse="ngbCollapse"
          [(ngbCollapse)]="author.isCollapsed"
        >
          <div id="demo10">
            <table class="table">
              <thead>
                <tr class="text-center">
                  <td>Title</td>
                  <td>Publish date</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of author.books" class="text-center">
                  <td>{{ book.title }}</td>
                  <td>{{ book.publishDate }}</td>
                  <button
                    class="btn btn-outline-dark mb-3"
                    (click)="deleteAuthorBook(book.id || 0, author.books || [])"
                  >
                    delete
                  </button>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </ng-container>
    </tbody>
  </table>
</div>
